@import "./variables";

@font-face {
  font-family: Work;
  src: url("../assets/fonts/WorkSans/worksans-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/WorkSans/worksans-regular-webfont.woff") format("woff");
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: Work,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
  background-color: $textDark1Color;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  text-rendering: optimizeLegibility;
  
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}

button {
  outline: none;
  appearance: none;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
   text-decoration: none;
}