// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;


//Colors

$primaryColor: #D6001C;
$primaryDark1Color: #C4051E; 
$secondaryColor: #000;


$textColor: #000;
$textDark1Color: #2C2C2C;
$textLight1Color: #F1EEE5;


$greyLight1Color: #E5E5E5;
$greyDark1Color: #232323;
$greyDark2Color:#333333;


$whiteColor: #fff;
$blackColor: #000;

