// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;


//Colors
$textColor: salmon;
$textLight1Color: #000;

$primaryColor: #000;
$secondaryColor: #000;

$greyLight1Color: #000;
$greyColor: #000;

$whiteColor: #ffffff;
$blackColor: #000;

